.messages
  .header
    .header-block
      .header-block__group
        sample-group
      .header-block__member
        Member : usernames
    .header-block__btn
      Edit
  .chat
    .chat-block
      .chat-block__name
        username
      .chat-block__time
        2019/08/19(Mon) 00:00:00
    .chat-text
      hellooooooooooowooooooooooooorld!
    .chatt-block
      .chatt-block__name
        usernameeee
      .chatt-block__time
        2019/08/20(Tue) 00:00:00
    .chatt-text
      hellooooooooooowooooooooooooorld!!!!!!!!!
  .form
    .form-box
      .form-box__text
        type a message
      .form-box__icon
        %label.upload-label{for: "upload-icon"}
          %i.fa.fa-picture-o
    .form-btn
      Send
  
