.sidebar
  .header
    .header__name
      username
      .header__icon
        = link_to do
          = fa_icon 'edit',class: "edit"
        = link_to do
          = fa_icon 'cog',class: "cog"
  .groups
    .group
      .group__name
        sample-group
      .group__comment
        hello world!
    .second-group
      .second-group__name
        sample-group2
      .second-group__comment
        hello world!!